#education,
#work-experience {
    margin-top: 50px;
    padding-top: 50px;
}

/* #work-experience {
    margin-top: 150px;
} */

.education-img {
    position: absolute;
    height: 670px;
    max-width: 100%;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 100px 20px 100px;
    overflow-x: hidden;
}

.card-education {
    display: block;
    margin: 0 auto;
    text-align: justify;
    max-width: 35%;
    height: 350px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Education cards flip effect styles start */

.flip-box {
    background-color: transparent;
    width: 500px;
    height: 200px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
    margin-top: 50px;
    cursor: pointer;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}


.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* 4 lines that center the text in the flip boxes */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.flip-box-front {
    background-color: transparent;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    color: white;
    transform: rotateX(0deg);
    /* fixed the issue on firefox */
}

.flip-box-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    background-color: transparent;
    color: white;
    transform: rotateY(180deg);
}

/* Education cards filp effect styles end */

.experience-container {
    margin: 20px 100px 20px 100px;
}

.card-experience {
    display: block;
    margin: 0 auto;
    text-align: justify;
    max-width: 70%;
    padding: 10px;
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
    .education-container {
        display: block;
        margin: 20px;
    }

    .flip-box:active .flip-box-inner, .flip-box:focus .flip-box-inner  {
        transform: rotateY(180deg);
    }    

    .experience-container {
        margin: 20px;
    }

    #education {
        margin-top: 70px !important;
    }

    #education,
    #work-experience {
        font-size: 11px;
        display: block;
        margin: 0 auto;
    }

    .card-education {
        max-width: 85%;
    }

    .flip-box {
        width: 300px;
        height: 100px;
    }
}